<form action="/flowers/<%= @flower.id %>/arrangements" method="post">
<input type="hidden" name="_method" value="put">
<select name="customer_id">
<% @customer.each do |customer| %>
	<%end%>
	</select><br><br>
	<input type="submit" value="Add flower to arrangment">
	</form>