<h4>The Flower Shop</h4>
<ul>
<% @flowers.each do |flower|%>
<div class="flowers">
<li><%= flower.flower_name %></li>
</div>
<li><%=image_tag flower.img_url %><li>
<div class="more-info">
<%= link_to 'See more information on this flower', flower_path(flower.id)%>
</div>
</ul>
<%end%>
