<ul>
<h3><%= @flower.flower_name %></h3>
<div class="flower-image">
<%= image_tag @flower.img_url %>
</div>
<li><%= @flower.color %></li>
<li> Prices vary by weight of vase. Add to your bouqet to get a final price! </li>
<li><%= link_to "Add this flower to your bouqet!", flower_arrangements_path(@flower)%></li>
</ul>